<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
    <script>
        const ROOM_ID = "<%= RoomId %>";
    </script>
    <title>vidiochat</title>
</head>

<body>
    <div id="video-grid">

    </div>
</body>
<script src="/js/conversation/visit-page.js" defer></script>

</html>