<div class="main-appbar-header">

    <img class="logo" src="/logo.png" alt="AREP">
    <a href="/">
        <h1 class="main-title">NESTSCOUT</h1>
    </a>
    <div class="search">
        <input type="text" class="input" placeholder="Search...">
        <button class="btn">
            <span class="material-symbols-outlined">
                search
            </span>
        </button>
    </div>
    <% if(isAuthenticated){%>
    <span class="material-symbols-outlined user">
        account_circle
    </span>
    <%}%>


</div>
<script src="/js/appbar.js"></script>