<li class="main-header__item <%- path===url?'active':''%>">
    
    <a href="<%=url%>">
        <table>
            <tr>
                <td class="manu-icon">
                    <span class="material-symbols-outlined">
                        <%= icon %>
                    </span>
                </td>
                <td class="manu-title">
                    <%= title %>
                </td>
            </tr>
        </table>
    </a>
</li>