

<div class="mobile-header">
    <div class="nevbar-background">

    </div>
    <div class="floating-action-button">
        <span class="material-symbols-outlined icon">
            widgets
        </span>
    </div>
</div>


<div class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item active">
                <a href="/">
                    <table>
                        <tr>
                            <td class="manu-icon">
                                <span class="material-symbols-outlined">
                                    Home
                                </span>
                            </td>
                            <td class="manu-title">
                                Home
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            <li class="main-header__item">
                <a href="/">
                    <table>
                        <tr>
                            <td class="manu-icon">
                                <span class="material-symbols-outlined">
                                    apartment
                                </span>
                            </td>
                            <td class="manu-title">
                                Buy
                    </table>
                    </td>
                    </tr>
                </a>
            </li>
            <li class="main-header__item">
                <a href="/">
                    <table>
                        <tr>
                            <td class="manu-icon">
                                <span class="material-symbols-outlined">
                                    real_estate_agent
                                </span>
                            </td>
                            <td class="manu-title">
                                find REALTORS
                            </td>
                        </tr>
                    </table>


                </a>
            </li>
            <li class="main-header__item">
                <a href="/">
                    <table>
                        <tr>
                            <td class="manu-icon">
                                <span class="material-symbols-outlined">
                                    add_home_work
                                </span>
                            </td>
                            <td class="manu-title">
                                Add to Sell/Rent
                            </td>
                        </tr>
                    </table>

                </a>
            </li>
            <li class="main-header__item">
                <a href="/">
                    <table>
                        <tr>
                            <td class="manu-icon">
                                <span class="material-symbols-outlined">
                                    info
                                </span>
                            </td>
                            <td class="manu-title">
                                About
                            </td>
                        </tr>
                    </table>

                </a>
            </li>



        </ul>
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">
                    <table>
                        <tr>
                            <td class="manu-icon">
                                <span class="material-symbols-outlined">
                                    Login
                                </span>
                            </td>
                            <td class="manu-title">
                                login
                            </td>
                        </tr>
                    </table>

                </a>
            </li>
            <li class="main-header__item">
                <a href="/">
                    <table>
                        <tr>
                            <td class="manu-icon">
                                <span class="material-symbols-outlined">
                                    person_add
                                </span>
                            </td>
                            <td class="manu-title">
                                Singup
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
        </ul>

    </nav>
</div>
<script src="/js/nevigetor.js"></script>