<div class="user-dropdown">
    <span class="material-symbols-outlined user-avtar">
        account_circle
    </span>
    <div class="user-dropdown-content">
        <h3>Complate your profile</h3>
        <a href="/complate-peofile">complate profile</a>
    </div>

</div>