main {
    text-align: center;
}

.title {
    min-width: 350px;
    padding: 1rem;
    font-size: xx-large;
    color: var(--c2);
}

.abstract {
    color: var(--c1);
    padding: 1.5rem;
}

.report-btn {
    padding: 1rem;
    margin: 2rem;
    text-decoration: none;
    background-color: var(--bc1);
    font-weight: bolder;
    color: #14213d;
    cursor: pointer;
    border-radius: 5px;
}

.report-btn:hover {
    background-color: var(--bhc1);
    box-shadow: 2px 2px 2px 2px var(--bhcs1);
}

.space {
    height: 10rem;
}

#footer {
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--c1), var(--c1op70));
    color: var(--fc1);
    padding: 1rem 5rem;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: var(--bc1);
}