main {
    text-align: center;
}

.title {
    min-width: 350px;
    padding: 1rem;
    font-size: xx-large;
    color: #10192e;
}

.abstract{
    color: #14213d;
    padding: 1rem;
}

iframe {
    width: 100%;
    height: 900px;
}