main {
    text-align: center;
}

.title {
    min-width: 350px;
    padding: 1rem;
    font-size: xx-large;
    color: #10192e;
}

.abstract{
    color: #14213d;
    padding: 1.5rem;
}

.report-btn {
    padding: 1rem;
    margin:2rem;
    text-decoration: none;
    background-color: #E8AA42;
    font-weight: bolder;
    color: #14213d;
    cursor: pointer;
    border-radius: 5px;
}

.report-btn:hover {
    background-color: #e8ab42d9;
    box-shadow: 2px 2px 2px 2px #ffe5b489;
}

.space{
    height: 10rem;
}

#footer {
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #14213d, #14213ddc);
    color: whitesmoke;
    padding: 1rem 5rem;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: #E8AA42;
}