.sing-up {
    text-transform: capitalize;
    position: relative;
    text-align: center;
    margin: 3rem auto;
    padding: 1.5rem;
    align-self: center;
    justify-self: center;
    background-image: linear-gradient(to top, #14213d, #14213ddc);
    box-shadow: 2px 2px 2px 2px #14213d6e;
    border-radius: 5px;
    color: whitesmoke;
    max-width: 500px;
    box-shadow: 2px 2px 2px 2px #14213d6e;
}

.sing-up form {
    text-align: left;
}

.sing-up .title {
    font-size: xx-large;
    color: whitesmoke;
}

.sing-up label {
    text-align: left;
    display: inline;
    width: 100%;
    text-align: left;
    color: #e5e5e5;
    font-size: large;
}

.sing-up .sing-up-submit {
    margin-top: 0.1rem;
    background-color: #E8AA42;
    font-weight: bolder;
    color: #14213d;
    cursor: pointer;
}

.sing-up input,
.sing-up .sing-up-submit {
    font-size: medium;
    height: 2.5rem;
    display: block;
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 10px;
    border-radius: 4px;
}

.sing-up .link {
    text-align: center;
    margin-top: 1rem;
    color: #e5e5e5;
}

.sing-up .link a,
.password a {
    text-decoration: none;
    color: #E8AA42;
}

.sing-up input:focus,
.sing-up textarea:focus {
    outline-color: #FFE5B4;
    box-shadow: 1px 1px 1px 1px #ffe5b48d;
}

.sing-up .sing-up-submit:hover,
.sing-up .clicked {
    background-color: #e8ab42d9;
    box-shadow: 2px 2px 2px 2px #ffe5b489;
}

.sing-up .error-message {
    font-size: small;
    color: red;
}

.sing-up .error-input {
    outline-color: #ff0000;
    outline-style: inset;
}

.sing-up .user-type {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-content: stretch;
    max-width: 400px;
    border-radius: 4px;
    border: 4px solid #14213d;
    margin-bottom: 0.8rem;
}

.sing-up .user-type label {
    cursor: pointer;
    text-align: center;
    padding: 0.7rem;
    margin: 0;
}

.sing-up .user-type .selected {
    background-color: #14213d;
}

@media (max-width: 500px) {
    .sing-up {
        margin: 1.5rem;
    }
}