.sing-up {
    text-transform: capitalize;
    position: relative;
    text-align: center;
    margin: 3rem auto;
    padding: 1.5rem;
    align-self: center;
    justify-self: center;
    background-image: linear-gradient(to top, var(--c1), var(--c1op70));
    box-shadow: 2px 2px 2px 2px var(--c1op50);
    border-radius: 5px;
    color: var(--fc1);
    max-width: 450px;
    box-shadow: 2px 2px 2px 2px var(--c1op50);
}

.sing-up form {
    text-align: left;
}

.sing-up .title {
    font-size: xx-large;
    color: var(--fc1);
}

.sing-up label {
    text-align: left;
    display: inline;
    width: 100%;
    text-align: left;
    color: var(--fc1);
    font-size: large;
}

.sing-up .sing-up-submit {
    margin-top: 0.1rem;
    background-color: var(--bc1);
    font-weight: bolder;
    color: var(--c1);
    cursor: pointer;
}

.sing-up input,
.sing-up .sing-up-submit {
    font-size: medium;
    height: 2.5rem;
    display: block;
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 10px;
    border-radius: 4px;
}

.sing-up .link {
    text-align: center;
    margin-top: 1rem;
    color: var(--fc1);
}

.sing-up .link a,
.password a {
    text-decoration: none;
    color: var(--bc1);
}

.sing-up input:focus,
.sing-up textarea:focus {
    outline-color: var(--bhc1);
    box-shadow: 1px 1px 1px 1px var(--bhcs1);
}

.sing-up .sing-up-submit:hover,
.sing-up .clicked {
    background-color: var(--bhc1);
    box-shadow: 2px 2px 2px 2px var(--bhcs1);
}

.sing-up .error-message {
    font-size: small;
    color: red;
}

.sing-up .error-input {
    outline-color: #ff0000;
    outline-style: inset;
}

.sing-up .user-type {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-content: stretch;
    max-width: 400px;
    border-radius: 4px;
    border: 4px solid var(--c1);
    margin-bottom: 0.8rem;
}

.sing-up .user-type label {
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.sing-up .user-type .selected {
    background-color: var(--c1);
}

@media (max-width: 450px) {
    .sing-up {
        margin: 1.5rem;
    }
}