main {
    text-align: center;
}
.sing-up {
    margin: 3rem 3rem;
    background-image: linear-gradient(to top, #14213d, #14213ddc);
    display: inline-flex;
    align-items: stretch;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #14213d6e;
}

.sing-up .title {
    min-width: 350px;
    font-size: xx-large;
    color: whitesmoke;
}

.sing-up label {
    display: block;
    width: 100%;
    text-align: left;
    color: #e5e5e5;
    margin-top: 15px;
    margin-bottom: 4px;
    font-size: large;
}
.sing-up .sing-up-submit{
    margin-top: 0.1rem;
    background-color: #E8AA42;
    font-weight: bolder;
    color: #14213d;
    cursor: pointer;
}

.sing-up input,
.sing-up .sing-up-submit {
    font-size: medium;
    height: 2.5rem;
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    padding: 2px;
    border-radius: 4px;
}

.sing-up .link,
.sing-up .link a{
    margin-top: 1rem;
    text-decoration: none;
    color: #e5e5e5;
}
.sing-up input:focus,
.sing-up textarea:focus {
  outline-color: #FFE5B4;
  box-shadow: 1px 1px 1px 1px #ffe5b48d;
}

.sing-up .sing-up-submit:hover,
.sing-up .clicked {
    background-color: #e8ab42d9;
    box-shadow: 2px 2px 2px 2px #ffe5b489;
}

.sing-up .error-message{
    font-size: small;
    color: red;
}

.sing-up .error-input{
    outline-color: #ff0000;
    outline-style: inset;
}

@media (max-width: 600px) {
    .sing-up{
        display: block;
    }
    .sing-up .title {
        min-width: 90%;
    }
  }