.user-image{
    width: -webkit-fill-available;
    max-width: 400px;
    padding: 2rem;
}

.form-btns{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.form-btns input,
.form-btns button{
    display: none;
}
.form-btns label{
    margin: 0.1rem 0.5rem;
    background-color: var(--bc1);
    font-weight: bolder;
    color: var(--c1);
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin: 0.2rem;
    padding:0.5rem;
}
.form-btns .save{
    display: none;
}
.form-btns label:hover {
    background-color: var(--bhc1);
    box-shadow: 2px 2px 2px 2px var(--bhcs1);
  }

.form-btns span{
    align-items: center;
}