main {
    text-align: center;
}

.profile {
    max-width: 850px;
    margin: 2rem 1.5rem;
    position: inherit;
    /* width: -webkit-fill-available; */
    background-image: linear-gradient(to top, var(--c1), var(--c1op70));
    display: inline-flex;
    align-items: stretch;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px var(--c1op50);
}

.profile .share-btn{
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    border: none;
    text-align: end;
    justify-content: flex-end;

}

.profile .share-btn button{
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: var(--fc1);
    background-color: var(--bc1);
    border-radius: 5px;
    padding: 8px 8px 5px 8px;
}

.profile .profile-content {
    display: flex;
    flex-direction: row;
}

.profile .title {
    min-width: 350px;
    margin: 0rem 1rem 2rem 1rem;
    font-size: xx-large;
    color: var(--fc1);
}

.profile .divider {
    width: 2px;
    background-color: #020d25;
    margin: 0 5px;
    box-shadow: 1px 1px 1px 1px #020d2538;

}

.profile .user-image-container a{
    color: whitesmoke;
    background-color: var(--c1dark);
    padding: 0.5rem;
    align-items: baseline;
    border-radius: 0.5rem;
    margin-left: auto;
}

.profile .user-image {
    width: 90%;
    max-width: 400px;
    margin-bottom: 0.5rem;
}

.profile .user-image-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: end;
}

.profile .user-info {
    color: var(--fc1);
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

.user-info .main-heading {
    font-size: x-large;
    text-transform: capitalize;
    margin: 4px 0;
    border-bottom: 3px solid var(--c1);
}

.user-info .user-detail tr td {
    border: none;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to top, var(--c2), var(--c1dark));
    border-radius: 5px;

}

.user-info .user-detail tr td a {
    text-decoration: none;
    color: var(--bhc1);
}

.user-info .user-detail tr .status {
    text-align: center;
}

.no-master .user-info .user-detail tr .status {
    display: none;
}

.title1{
    width: 100%;
    background-image: linear-gradient(to right, var(--c2), #00171f00);
    color: var(--fc1);
    text-align: left;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
}


@media (max-width: 750px) {


    .profile .profile-content {
        flex-direction: column;
    }

    .profile .title {
        min-width: 90%;
    }

    .profile .user-image {
        width: 50%;
    }

    .profile .divider {
        width: auto;
        height: 2px;
        background-color: var(--fc2);
        margin: 5px 0px;
        box-shadow: 1px 1px 1px 1px #020d2538;
    }

    .user-info .user-detail {
        font-size: x-small;
    }
}