<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index/card.css">
<link rel="stylesheet" href="/css/index/index.css">
<script src="/js/property.js"></script>
</head>

<body>
    <%- include('../includes/nevbar.ejs') %>
    <%- include('../includes/appbar.ejs') %>
    
    <div class="wrapper">
        <fieldset class="filter-price">
         
          <div class="price-field">
            <input type="range"  min="0" max="10000000000" value="0" id="lower">
            <input type="range" min="0" max="10000000000" value="10000000000" id="upper">
          </div>
           <div class="price-wrap">
            <span class="price-title" onclick="filter()">FILTER</span>
            <div class="price-wrap-1">
              <input id="one">
              <label for="one">₹</label>
            </div>
            <div class="price-wrap_line">-</div>
            <div class="price-wrap-2">
              <input id="two">
              <label for="two">₹</label>
            </div>
          </div>
        </fieldset> 
      </div>
    
    <main>

    </main>
    <div style="display: flex; justify-content: center; margin-bottom: 5rem;">
        <div class="loader"></div>
    </div>
    <script src="/js/buy/buy.js"></script>

    <%- include('../includes/end.ejs') %>