main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.add-new-prop-btn {
    display: flex;
    font-size: inherit;
    width: 100%;
    justify-content: flex-end;
    margin-left: auto;
    align-self: flex-end;
}

.add-new-prop-btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--fc2);
    margin: 1rem;
    padding: 0 1rem;
    padding-top: 0.4rem;
}

.ownBtns {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
}

.ownBtns .ownBtn {
    height: 2.5rem;
    margin-top: 0.1rem;
    width: 100%;
    margin: 0.5rem;
    background-color: var(--bc1);
    font-weight: bolder;
    color: var(--c1);
    cursor: pointer;
    border-radius: 5px;
}