.card {
    background-image: linear-gradient(to bottom, #14213d, #10192e);
    color: whitesmoke;
    display: inline-flex;
    flex-direction: column;
    text-transform: capitalize;
    width: 20rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #14213d8c;
}

.card button,
.card a {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: none;
    color: whitesmoke;
}

.card .header,
.card .footer {
    text-align: left;
    height: 3rem;
    margin: 0.9rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.card .header .detail {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
}

.card .header .detail .line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.card .header .detail .line1 .price {
    white-space: nowrap;
}

.card .header .detail .line2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #AEBDCA;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
}

.card .header .detail .line2 .material-symbols-outlined {
    font-size: inherit;
}

.card .body {
    height: 12rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card .body a,
.card .body .body-image {
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
}
.card .body .action-type{
    position: absolute;
    padding: 0.3rem 1rem;
    border-radius: 5px 0 0 0;
    background-image: linear-gradient(to top, #14213d, #10192e5f);
    bottom: 0;
    right: 0;
}

.card .footer {
    height: 2rem;
    justify-content: space-between;
    align-items: flex-end;
}

.card .footer a {
    max-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.card .footer .user-image {
    max-height: inherit;
    border-radius: 100%;
    margin-right: 5px;
}

.card .footer .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card .footer .btns span {
    margin: 0 5px;
}

.active {
    color: #E8AA42;
}


@keyframes scale-display {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}